
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Home Page</title>
    <script>
        function login() {
            window.location = "info/38/Samed";
        }
    </script>
</head>
<body>
    <div> 
        <button onclick="login()">Login</button>
    </div>
</body>
</html>